@font-face{
    font-family: "Signika-Regular";
    src: url("../fuentes/Signika-Regular.ttf") format("truetype");
    }

.gran_area{
            display: flex;
           width: 100%;
           justify-content: center;
           align-content: center;
           height: 35rem;}

.contenedor_p{
              width: 60%;
              height: 100%;
              display: grid; 
              grid-auto-columns: 1fr; 
              grid-template-columns:  1.3fr 0.7fr; 
              grid-template-rows: 0.2fr 1.8fr; 

              grid-template-areas: 
                "Titulo_vehiculo Titulo_vehiculo"
                "Tabla Filtros"; }

.Titulo_vehiculo {grid-area: Titulo_vehiculo; 
                  font-family: "Signika-Regular";
                  font-size: 2.5rem;
                  padding-top: 1.3rem;
                  padding-bottom: 0.5rem;
                  text-align: center;}


.Tabla { grid-area: Tabla; 
        padding-bottom: 3rem;
        text-align: center;
        font-family: "Signika-Regular";
         }

.contenedor_table{height: 25rem;
                overflow:scroll;
                overflow-x: hidden;
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
                }

.tablap
{border-collapse: separate;
  border-spacing: 0;
  border:2px solid black;
  border-top:0;
  width: 100%;
  background-color: #D9D9D9;
  font-size:1rem;
}

.tablap tbody tr:hover
{transition: 0.5s;
  background: linear-gradient(90deg, var(--c1, #99484C), var(--c2, #818399) 51%, var(--c1, #A386A3)) var(--x, 0)/ 200%;
	--x: 250%;
}

.tablap th{top:0;
          padding-top: 0.5rem;
          border-top:2px solid black;
          padding-bottom: 0.5rem;
          text-align: center;
          background-color:  #B7A57A;
          color:#000000;
          position: sticky;}

th,td{border-bottom: 1px solid #000000;
      padding: 0.5rem;
      width: 8rem;
      text-align: center;}

tr:nth-child(even) {/*solo pares*/
    background-color: #ffffff;
    }
       


.buscador{width: 55%;
          font-family: "Signika-Regular";
          height: 2rem;
          padding: 4px;
          border-style: solid;
          border-radius: 0.9rem;
          background-color: #FFFFFF;
          margin-right: auto;}

.buscar{height: 2rem;
       cursor:pointer;
       border: 0;
       background: #B7A57A;
       border-radius: 10px;}

.buscar:active{background: #85754D;}

input:focus, textarea:focus {outline: none;}

input:not(:placeholder-shown) {
    border-color: #85754D;
  }
  

.Filtros { grid-area: Filtros; 
           font-family: "Signika-Regular";
          }

select{font-family: "Signika-Regular";
       font-size: 1rem;}
