@font-face{
	font-family: "Signika-Bold";
	src: url("../fuentes/Signika-Bold.ttf") format("truetype");
  }
@font-face{
font-family: "Signika-Regular";
src: url("../fuentes/Signika-Regular.ttf") format("truetype");
}


h2 {
  padding-left: 5px;
}

#preguntas {
	padding: 0 15px;
	text-align: center;
}
#preguntas ul {
	text-align: left;
}
#preguntas h1 {
	color: #f05454;
	margin-bottom: 30px;
}
#preguntas h2 {
	color: #f05454;
	font-family: "Signika-Regulars",'hm_light', sans-serif;
	font-size: 20px;
	text-align: left;
	line-height: 34px;
	padding: 15px 15px 0;
	text-transform: none;
	letter-spacing: 1px;
	font-weight: 600;
	display: block;
	margin:0;
	cursor: pointer;
	transition: .2s;
}
#preguntas p {
	color: #fff;
	text-align: left;
	font-family: 'hm_light', sans-serif;
	font-size: 18px;
	line-height: 1.45;
	position: relative;
	overflow: hidden;
	max-height: 250px;
	will-change: max-height;
	contain:layout;
	display: inline-block;
	opacity: 1;
	transform: translate(0,0);
	margin: 5px 50px 20px 30px;
	transition: .3s opacity, .6s max-height;
	hyphens: auto;
	-webkit-hyphens:auto;
	-ms-hyphens:auto;
	z-index: 2;
}
#preguntas ul {
	list-style: none;
	perspective: 900;
	padding: 0;
	margin:0;
}
#preguntas ul li {
	position: relative;
	overflow: hidden;
	padding: 0;
	margin: 0;
	background: #4B2E83;
	box-shadow: 0 3px 10px -2px rgba(0,0,0,0.1);
	-webkit-tap-highlight-color: transparent;
	border-radius: 4px;
}
#preguntas ul li + li {
	margin-top: 15px;
}
#preguntas ul li:last-of-type {
	padding-bottom: 0;
}
#preguntas ul li i {
	position: absolute;
	transform: translate(-6px, 0);
	margin-top: 28px;
	right: 15px;
}
#preguntas ul li i:before,
#preguntas ul li i:after {
	content: "";
	position: absolute;
	background-color: #4B2E83;
	width: 3px;
	height: 9px;
}

#preguntas ul li i:before {
	transform: translate(2px, 0) rotate(45deg);
}

#faq ul li i:after {
	transform: translate(-2px, 0) rotate(-45deg);
}
#preguntas ul li input[type=checkbox] {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	touch-action: manipulation;
}
#preguntas ul li input[type=checkbox]:checked ~ h2 {
	color: #fff;
}
#preguntas ul li input[type=checkbox]:checked ~ p {
	margin: 0;
	max-height: 0;
	transition: .3s;
	opacity: 0;
}
#preguntas ul li input[type=checkbox]:checked ~ i:before {
	transform: translate(2px, 0) rotate(45deg);
	background: #fff;
}
#preguntas ul li input[type=checkbox]:checked ~ i:after {
	transform: translate(-2px, 0) rotate(-45deg);
	background: #fff;
}
.transition, p, ul li i:before, ul li i:after {
	transition: all 0.3s;
} 

