@font-face{
	font-family: "Signika-Bold";
	src: url("../fuentes/Signika-Bold.ttf") format("truetype");
  }
@font-face{
font-family: "Signika-Regular";
src: url("../fuentes/Signika-Regular.ttf") format("truetype");
}

@font-face{
	font-family: "Century-Gothic";
	src: url("../fuentes/Century-Gothic.ttf") format("truetype");
}
form {
    display : flex;
    justify-content: center;
    padding-top:25px;
}

.subtitulo{
	 font-family: "Signika-Bold";
	 text-align: center;
}

form fieldset{
font-family: "Signika-Regular";
font-size: 18px;
background-color:#d3c0d3;
border-radius:20px;
width:1000px;
height:240px;
}

.entradas input[type=text]{
    height:17px;
             font-family:"Signika-Regular";
              font-style: italic;
                font-size: 16px;
                 border-radius:15px;}


.entradas input[type=email]{
    height:17px;
    width:250px;
             font-family:"Signika-Regular";
              font-style: italic;
                font-size: 16px;
                 border-radius:15px;}

.entradas{
    display:inline-block;
    font-size:20px;
   font-family:"Signika-Regular";
    color : #000000;
}
.centrear{
    text-align: center;
}

.entradas input[type=number]{
    height:17px;
    width:250px;
             font-family:"Signika-Regular";
              font-style: italic;
                font-size: 16px;
                 border-radius:15px;
}

.enviar{
 background-color:#709e07;
 color:#FFFFFF;
 text-align: center;
 font-size:18px;
 border-radius:20px;
 font-family:Century-Gothic;
}

.botones{
    display: flex;
    justify-content: center;
    
    gap: 10rem;
    text-align: center;
width: 100%;}

.btn1{margin-right: 3rem;
   overflow: hidden;
}
.btn2{
    margin-right: 3rem;
   overflow: hidden;
}

.cancelar{
    background-color:#b9181f;
    color:#FFFFFF;
    font-size:18px;
    border-radius:20px;
    font-family:Century-Gothic;
}

.two-col {
    overflow: hidden;/* Makes this div contain its floats */
}

.two-col .col1,
.two-col .col2{
    width: 29%;
}

.two-col .col1 {
    float: left;
}

.two-col .col2 {
    float:left 
}
.col3{
	float: right;
	width:40%;
}

.two-col label {
    display: block;
}